body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.containerC{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 800px;
    height: 500px;

}